{% extends 'headers/base.html' %}

{% load static %}

{% block body %}
<div class="container" style="margin-top: 19px;">
        <div class="quote">
        <div class="display-4">
            “Learning never exhausts the mind.”
        </div>
        <div class="text-muted" style="margin-bottom: 1em;">
            ― Leonardo da Vinci
        </div>
    </div>
    
    {% for l in lessons %}
    <div class="card" style="margin-bottom: 5px;">
        <div class="card-header" style="background-color: rgb(252, 253, 252);">
            <a href="/learn/{{l.url}}">{{l.name}}</a>
        </div>
        <div class="card-body">
            {{l.description}}
        </div>
        <button class="btn btn-primary" onlclick="bookmark({{ l.id }});">
            Bookmark
        </button>
    </div>
    {% endfor %}
</div>


{% endblock body %}

{% block html %}
    <script src="{% static 'javascript/send.js' %}"></script>
    <script src="{% static 'javascript/bookmark.js' %}"></script>
{% endblock html %}