{% extends 'headers/base.html' %}

{% load static %}

{% block body %}

<div class="container" style="padding-top: 2em;">
    <div class="display-4" style="margin-bottom:.5em;">How do compilers work</div>
    <div class="lead" style="margin-bottom: 10px;">
        Compilers are how programming languages like c++ or c# get converted to machine code or something that the CPU can understand. First a compiler will find all of the commands 
    </div>
    <div style="background:url({% static 'server.jpg' %}); background-size: cover; width: 800px; height: 500px; max-width: 80%;"></div>
    <div class="lead">
        TOR is used to maintain anonymousity for informants, and whistleblowers, and allows people to avoid persecution for doing things online if it is restricted in there government.
    </div>
</div>

{% endblock body %}