{% extends 'headers/base.html' %}

{% load static %}

{% block body %}

<div class="container" style="padding-top: 2em;">
    <div class="display-4" style="margin-bottom:.5em;">How do compilers work</div>
    <div class="lead" style="margin-bottom: 10px;">
        Compilers are how programming languages like c++ or c# get converted to machine code or something that the CPU can understand. First a compiler will find all of the commands 
    </div>
    <div style="background:url({% static 'code.jpg' %}); background-size: cover; width: 800px; height: 500px; max-width: 80%;"></div>
    <div class="lead">
        Software is what makes a computer more than just a really expensive peice of metal, and has changed the world in many ways. And programming languages empowered by compilers are what inspired poeple to make the software that powers our lives.
    </div>
</div>

{% endblock body %}