{% extends "headers/base.html" %}

{% block body %}
<div class="container" style="margin-top: 20px;">
    <div class="display-4">
        About Us
    </div>
    We are a small family owned company based in Fort Worth, TX (Texas). We make our profits by getting a small profit any time the user buys a product through our site, at no cost to the user. PC Select LLC is own and ran by Matthew Miller (CEO). <a href="https://github.com/python151/pcfind" target="_">Our site is open source on github.</a> We are a company that beleives in internet privacy and never track you. All of the connections made to this site have military grade encryption.
</div>

{% endblock body %}