{% extends "headers/base.html" %}

{% block body %}
<div class="container" style="margin-top: 20px;">
    <div class="display-4">
        Shout Outs
    </div>
    We would like to thank the following people and organizations
    <ul>
        <li>
            <a href="https://www.pexels.com">Pexels</a>
        </li>
        <li>
            <a href="https://www.pythonanywhere.com">Pythonanywhere</a>
        </li>
        <li>
            <a href="https://www.youtube.com/user/LinusTechTips">Linus Tech Tips</a> (youtube)
        </li>
        <li>
            <a href="https://www.youtube.com/channel/UC2WHjPDvbE6O328n17ZGcfg">ForestKnight</a> (youtube)
        </li>
        <li>
            <a href="https://www.youtube.com/user/sentdex">Sentdex</a> (youtube)
        </li>
        <li>
            <a href="https://www.youtube.com/channel/UCZ9qFEC82qM6Pk-54Q4TVWA">Andy Sterkowitz</a> (youtube)
        </li>
        <li>
            <a href="https://www.youtube.com/channel/UC4xKdmAXFh4ACyhpiQ_3qBw">TechLead</a> (youtube)
        </li>
        <li>
            <a href="https://www.youtube.com/channel/UCxX9wt5FWQUAAz4UrysqK9A">CS Dojo</a> (youtube)
        </li>
    </ul>
</div>
{% endblock body %}