{% extends "headers/base.html" %}

{% block body %}
<div class="container" style="margin-top: 20px;">
    <div class="display-4">
        Shout Outs
    </div>
    We would like to thank the following people and organizations
    <ul>
        <li>
            Pexels.com
        </li>
        <li>
            pythonanywhere.com
        </li>
        <li>
            Linus Tech Tips (youtube)
        </li>
        <li>
            ForestKnight (youtube)
        </li>
        <li>
            Sentdex (youtube)
        </li>
        <li>
            Andy Sterkowitz (youtube)
        </li>
        <li>
            TechLead (youtube)
        </li>
        <li>
            CS Dojo (youtube)
        </li>
    </ul>
</div>
{% endblock body %}