<div class="lead" style="padding: 50px; padding-bottom: 0;">
    <div class="display-4" style="font-size: 30px; margin-bottom: 8px;">
        How we choose your computer
    </div>
    When we are choosing your computer we consider 3 main things. The CPU, the GPU, and the RAM. Each task you do on a computer requires a diffrent ammount of all of these things. For example a Gamer would need a bigger GPU than someone who is 3D modeling which would require more RAM. When we choose your computer we take all of your tasks into consideration to find the best computer that will fit your needs for the lowest price. <a href="/learn/how-do-computers-work">Click here for more details.</a>
</div>

<div class="lead" style="padding: 50px; padding-bottom: 0;">
    <div class="display-4" style="font-size: 30px; margin-bottom: 8px;">
        About
    </div>
    We are a company that automatically searches the web for a computer that will fit your needs, and the best part is it's all free! 
</div>

<div class="lead" style="padding: 50px; padding-bottom: 0;">
    <div class="display-4" style="font-size: 30px; margin-bottom: 8px;">
        Privacy
    </div>
    Here at PC Select we beleive in privacy and never track you. Though we do send non-tracking cookies to make sure that you get the right results on your survey.
</div>