.promo .lead {
    color: #cecccc;
    display: block;
}

.btn .btn-outline-dark:hover {
    color:white;
}

@media screen and (max-width: 500px) {
    .display-4 {
        font-size: 3em;
    }
}
.promo {
    color: #fff;
    background: linear-gradient( rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35) ), url(https://images.pexels.com/photos/3183183/pexels-photo-3183183.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
    background-size: cover;
    min-height: 400px;
    padding-left: 4em;
    margin-left: -4em;
}

.jumbotron {
    margin-bottom: 5px;
}

.jumbo-w {
    background-color: rgb(5, 44, 95);
    padding: 5px 0;
}

a.btn.btn-primary.btn-lg.mx-auto {
    background-color: #0000005b;
    color:#ffffff;
    width: 40%;
    margin-bottom: 2em; 
    padding: 2%; border: 0; 
    font-weight: lighter; 
    min-width: 13em;
}

a.btn.btn-primary.btn-lg.mx-auto:hover{
    background-color: #0000057e;
    transition: ease-in background-color 500ms;
}

