{% extends 'headers/base.html' %}

{% load static %}

{% block body %}

    <div style="padding-top: 1em; padding-bottom: 2em;" class="promo text-center flex-column">
        <div class="container">
            <h3 class="display-4 flox-row-sm">A{{words|random}} way to shop for computers</h3>
            <p class="lead flox-row-sm">
                Take a short survey and allow us to help you find your next computer or PC, and stop guessing at which computer to buy.
            </p>
            <div class="wrapper flox-row-md">
                <a class="btn btn-primary btn-lg mx-auto"
                style="background-color: #0000005b; color:#ffffff; width: 40%; margin-bottom: 2em; padding: 2%; border: 0; font-weight: lighter; min-width: 13em;"
                href="survey"
                >Take The Survey</a>
            </div>
        </div>
    </div>


    {% include 'includes/explanations.html' %}

{% endblock body %}

{% block html %}

<style>
.promo .lead {
    color: #cecccc;
    display: block;
}

.btn .btn-outline-dark:hover {
    color:white;
}

@media screen and (max-width: 500px) {
    .display-4 {
        font-size: 3em;
    }
}
.promo {
    color: #fff;
    background: linear-gradient( rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35) ), url(https://images.pexels.com/photos/3183183/pexels-photo-3183183.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
    background-size: cover;
    min-height: 400px;
}

.jumbotron {
    margin-bottom: 5px;
}

.jumbo-w {
    background-color: rgb(5, 44, 95);
    padding: 5px 0;
}
</style>

{% endblock html %}