{% extends 'headers/base.html' %}

{% load static %}

{% block body %}

    <div class="container">
        <div style="padding-top: 1em; padding-bottom: 2em; margin-bottom: 2em;" class="row">
            <div class="col mx-auto" style="min-width: 300px;">
                <h3 class="display-4">A better way to shop for computers</h3>
                <p class="lead">
                    Take a short survey and allow us to help you find your next computer or PC, and stop guessing at which computer to buy.
                </p>
                <div class="wrapper">
                    <a class="btn btn-primary btn-lg mx-auto"
                    style="background-color: #042a2b; color:#fff; width: 300px; margin-bottom: 2em; padding: 7%; width: 100%;"
                    href="servey"
                    >Take The Survey</a>
                    </div>
            </div>
            <div class="col-6" style="width: 100%; min-width: 320px;">
                <img src="https://images.pexels.com/photos/2225617/pexels-photo-2225617.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"
                style="width: 100%;">
            </div>
        </div>
    </div>
{% endblock body %}

{% block html %}

<style>
.lead {
    color: #6f6f6f;
}

.btn .btn-outline-dark:hover {
    color:white;
}

@media screen and (max-width: 500px) {
    .display-4 {
        font-size: 3em;
    }
}

</style>

{% endblock html %}