{% extends 'headers/base.html' %}

{% load static %}

{% block body %}
<div style="margin: 1.5em 2em;">
    <div class="display-4">
        {% if pcs is defined %}Sorry, No{% endif %}{{pcCount}} Computers found
    </div>

    {% for pc in pcs %}
    <div class="card" style="margin: 1em;">
        <div class="row">
            <div class="lead success col" style="color:green; display: inline-block;">${{pc.price}}</div>
            <div class="col">
                <a href="why-this/{{pc.id}}">
                    <button class="btn btn-secondary badge badge-secondary" 
                    style="width: 25px;
                        height: 25px;
                        border-radius: 50%;
                        float: right;
                        margin-top: 5px;
                        margin-right: 5px;"
                        title="Why This PC?">
                        ?
                    </button>
                </a>
            </div>
        </div>
        <span>
            <a class="lead" href="{{pc.link}}" style="margin: 10px 20px; margin-top: 0; display: inline-block;">{{pc.name}}</a>
        </span>
    </div>
    {% endfor %}
    {% if pcs is defined %}
        <div class="lead" style="margin-left: 1em;">No Pc's Found, but you can try again later to see if we find more options</div>
    {% endif %}
</div>
{% endblock body %}

{% block html %}
<link href="{% static 'css/list.css' %}" rel="stylesheet"/>
{% endblock html %}
