{% extends 'headers/base.html' %}

{% block body %}
<div class="pcs">
    <div class="display-4">
        {% if pcs is defined %}Sorry, No{% endif %}{{pcCount}} Computers's found
    </div>

    {% for pc in pcs %}
    <div class="card" style="margin: 1em;">
        <a class="lead" href="{{pc.link}}">{{pc.name}} - {{pc.price}}</a><br>
    </div>
    {% endfor %}
    {% if pcs is defined %} 
        <div class="lead" style="margin-left: 1em;">No Pc's Found, but you can try again later to see if we find more options</div>
    {% endif %}
</div>
{% endblock body %}