{% extends 'headers/base.html' %}

{% load static %}

{% block body %}



<div class="groups">
    {% for group in options %}
    <div class="group">
        <h3 class="group-name">{{group.name}}</h3>
        <div class="options">
        {% for option in group.options %}
            <div class="option">
                <p class="option-name align-middle">{{ option.name }}</p>
                <button class="btn btn-success align-middle" id="question-{{forloop.counter}}" onclick="select({{forloop.counter}})">
                    Add
                </button>
            </div>
        {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock body %}

{% block html %}

<link rel="stylesheet" href="{% static 'servey.css' %}">

{% csrf_token %}
<script src="{% static 'javascript/send.js' %}"></script>

{% endblock html %}