{% extends 'headers/base.html' %}

{% load static %}

{% block body %}



<div class="groups">
    {% for group in options %} 
    <div class="group">
        <h3 class="group-name">{{group.name}}</h3>
        <div class="options">
        {% for option in group.options %}
            <div class="option">
                <p class="option-name align-middle">{{ option.name }}</p>
                {% if 't' %}
                <button class="btn btn-success align-middle" id="question-{{ option.id }}" onclick="select({{ option.id }}, {{ group.id }})">
                    Add
                </button>
                {% else %}
                <button class="btn btn-danger align-middle" id="question-{{ option.id }}" onclick="remove({{ option.id }}, {{ group.id }})">
                    X
                </button>
                {% endif %}
            </div>
        {% endfor %}
        </div>
    </div>
    {% endfor %}
    <a href="get-pc" class="btn btn-primary">
        Find My PC!
    </a>
</div>
{% endblock body %}

{% block html %}

<link rel="stylesheet" href="{% static 'servey.css' %}">
<script src="{% static 'javascript/send.js' %}"></script>

{% endblock html %}