{% extends 'headers/base.html' %}

{% load static %}

{% block body %}
<script src="{% static 'javascript/send.js' %}"></script><!-- had to put here to allow for amountSelected variable to be adjusted-->


<div class="display-4" style="padding: 15px 0 0 15px">
    Select all tasks that apply
</div>

<div class="groups">
    {% for group in options %} 
    <div class="group">
        <h3 class="group-name">{{group.name}}</h3>
        <div class="options">
        {% for option in group.options %}
            <div class="option">
                <p class="option-name align-middle">{{ option.name }}</p>
                {% if option.id in s %}
                <script>amountSelected++;</script>
                <button class="btn btn-danger align-middle" id="question-{{ option.id }}" onclick="remove({{ option.id }}, {{ group.id }})" style="font-size: 1em;">
                    X
                </button>
                {% else %}
                <button class="btn btn-success align-middle" id="question-{{ option.id }}" onclick="select({{ option.id }}, {{ group.id }})">
                    Add
                </button>
                {% endif %}
            </div>
        {% endfor %}
        </div>
    </div>
    {% endfor %}
    <a data-toggle="modal" data-target="#exampleModalCenter" onclick="artificialAnimate()" class="btn btn-primary {% if s|length < 1 %}disabled{% endif %}" style="color: white;" id="btn">
        Find My PC!
    </a>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Finding Your PC</h5>
      </div>
      <div class="modal-body">
        <div id="hidden">
    <div class="progress" style="height: 2em;">
        <div class="progress-bar bg-success"
        role="progressbar" 
        style="width: 0;" 
        aria-valuenow="0" 
        aria-valuemin="0" 
        aria-valuemax="100" 
        id="b1"></div>
    </div>
</div>
      </div>
      <div class="modal-footer" style="float: left;">
        <div class="lead">
            <p>Searching <span id="currentText"></span></p>
        </div>
      </div>
    </div>
  </div> 
</div>
{% endblock body %}

{% block html %}
<link rel="stylesheet" href="{% static 'css/survey.css' %}"/>

<script src="{% static 'javascript/animate.js' %}"></script>
{% endblock html %}