{% extends 'headers/base.html' %}
{% load static %}

{% block body %}

<div class="use-container .d-flex" style="background-color: #e9ecef; height: 15em;">
  <div class="use" style="position: inline; margin: 0 1em 5em 1em;">
    <h1 style="border-top: 2em solid transparent;">What are you looking for...</h1>
    <div class="input-group">
        <select class="custom-select" id="mySelect" aria-label="Example select with button addon">
          <option selected>Choose...</option>
          <option value="1">Productivity</option>
          <option value="2">Gaming</option>
          <option value="3">Basic use</option>
        </select>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" onclick="select()" style="width: 7em;">next</button>
        </div>
      </div>

    {% include 'includes/forms.html' %}

    <div id="choose" style="display: none; color: red;">
        Select a valid option
    </div>
  </div>
</div>


<div class="row" style="margin: 60px 1em;">
    <div class="col-sm">
        <div class="card w-30">
            <img src="https://media.istockphoto.com/photos/woman-with-disability-working-picture-id1079013008" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">College</h5>
              <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla doloremque ducimus dolore voluptate cum dolorum! Omnis perferendis, id esse quasi reiciendis ab suscipit exercitationem iure aperiam in. Placeat, ut ipsum. qqqqqqqqqq</p>
              <a href="#" class="btn btn-primary">More</a>
            </div>
          </div>
    </div>
    <div class="col-sm">
        <div class="card w-30">
            <img src="https://media.istockphoto.com/photos/man-with-differing-abilities-working-in-the-office-picture-id1081060206" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Gaming</h5>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel necessitatibus animi itaque ex sapiente, delectus molestiae excepturi sed adipisci, quas aut ipsa incidunt dolorem consequatur praesentium placeat magnam eligendi deleniti.</p>
              <a href="#" class="btn btn-primary">More</a>
            </div>
          </div>
    </div>
    <div class="col-sm">
        <div class="card w-30">
            <img src="https://media.istockphoto.com/photos/man-using-laptop-computer-working-at-home-picture-id1175082592" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">All Rounder</h5>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, quaerat dolorum magnam, ea, velit beatae dolore unde enim excepturi accusantium consequuntur natus ex numquam amet? Reprehenderit velit voluptatum amet assumenda.</p>
              <a href="#" class="btn btn-primary">More</a>
            </div>
          </div>
    </div>
</div>


<div class="card mb-3 jumbotron jumbotron-fluid" style=" border: none; width: 100%; margin: 60px 0 0 0;">
  <div class="row no-gutters" style="margin: 0; padding: 0;">
    <div class="col-md-4" style="margin: 0;">
          <img src="https://media.istockphoto.com/photos/office-manager-working-on-computer-at-his-desk-picture-id1053499704"
             class="card-img" alt="..." style="display: inline-block; padding-left: 1em;">
    </div>
    <div class="col-md-8" style="margin: 0;">
      <div class="card-body" style="margin: 0;">
        <h1 class="display-4" style="display: inline-block; margin-bottom: 20px; ">Modern PC Setup</h1>
        <p class="lead">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>




{% endblock body %}

{% block html %}

<script src="{% static 'javascript/home.js' %}"></script>

<style>
.col-sm {
  min-width: 25em;
}
</style>
{% endblock html %}