{% extends 'headers/user.html' %} 

{% load static %}

{% block head %}
<style>
    .col .card {
        max-width: 40em;
        min-width: 300px;
        width: 400px;
        height: calc(400px);
        margin: 10px;
    }
</style>
{% endblock head %}

{% block body %}
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom" role="doc-subtitle">
                <h1 class="h2">Dashboard</h1>
            </div>

            <h2>PC Results</h2>
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>RAM</th>
                            <th>GPU</th>
                            <th>CPU</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for pc in request.user.surveyresults.choice.all %}
                        <tr>
                            {% if pc.id in request.session.savedPCs %}
                            <td><a href="/user/pc/unsave/{{pc.id}}"><button>Unsave</button></a></td>
                            {% else %}
                            <td><a href="/user/pc/save/{{pc.id}}"><button>Save</button></a></td>
                            {% endif %}
                            <td>{{pc.name}}</td>
                            <td>{{pc.ram}}</td>
                            <td>{{pc.cpu}}</td>
                            <td>{{pc.gpu}}</td>
                        </tr>
                    {% endfor %}
                        
                    </tbody>
                </table>
            </div>
        </main>
{% endblock body %}