{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type='image/x-icon' >
    <link rel="icon" href="{% static 'favicon.ico' %}" type='image/x-icon'>

    <title>PC Select</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/base.css" %}" crossorigin="anonymous" />

    {% block head %}{% endblock head %}

</head>
<body>
    <!-- this 100% NOT copied from the bootstrap documentation. garanteed -->
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/"><img src="{% static 'logo.jpg' %}" width="25"> PC Select - {{request.session.page}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item{% if request.session.page == 'Home' %} active {% endif %}">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown {% if request.session.page == 'Shout Out' or  request.session.page == 'Privacy Policy' or request.session.page == 'What We Do' or request.session.page == 'Contact Us' %} active {% endif %}">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                More
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/stat/shout-out">Shout Outs</a>
                <a class="dropdown-item" href="/stat/privacy-policy">Privacy</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/stat/what-we-do">What We Do</a>
                <a class="dropdown-item" href="/stat/contact-us">Contact Us</a>
              </div>
            </li>
            
            <li class="nav-item {% if request.session.page == 'About' %} active {% endif %}">
              <a class="nav-link" href="/stat/about">About</a>
            </li>
            
            <div class="dropdown-divider"></div>

            <li class="nav-item hidden">
              <a class="nav-link" href="/survey">Take the survey</a>
            </li>
            <li class="nav-item hidden">
              <a class="nav-link" href="/stat/about">About Us</a>
            </li>
            <li class="nav-item hidden">
              <a class="nav-link" href="/stat/what-we-do">What We Do</a>
            </li>
            <li class="nav-item hidden">
              <a class="nav-link" href="/learn/home">Learn Home</a>
            </li>
          </ul>
          <div class="dropdown-divider hidden" style="margin-bottom: 1em;"></div>
          <form class="form-inline my-2 my-lg-0" action="/join/mailing-list" method="POST">
            <!-- automatically generated inputs -->
            {% csrf_token %}
            <input style="display: none;" name="ref" value="{{ request.get_full_path }}">
            
            <input class="form-control mr-sm-2" type="text" placeholder="Name" aria-label="Name" name="name" required>
            <div class="hidden" style="margin-top: 5px"></div>
            <input class="form-control mr-sm-2" type="email" placeholder="Email" aria-label="Email" name="email" id="email" required>
            
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Join</button>
          </form>
        </div>
      </nav>
        


        <div class="body-w">
          <div class="body-f">
          <!-- block body start -->
          {% block body %}{% endblock body %}
          <!-- block body end -->
          </div>
          <div class="ads">
          <!-- just for now
            <div>
            <script type="text/javascript">
              amzn_assoc_tracking_id = "pcfinder-20";
              amzn_assoc_ad_mode = "manual";
              amzn_assoc_ad_type = "smart";
              amzn_assoc_marketplace = "amazon";
              amzn_assoc_region = "US";
              amzn_assoc_design = "enhanced_links";
              amzn_assoc_asins = "B07RF1XD36";
              amzn_assoc_placement = "adunit";
              amzn_assoc_linkid = "efea5ae202dea987c88861fa56bcbb2f";
              </script>
              <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
            </div>-->
          </div>
          

        </div>
        
        <div class="nav-side">
            
            <ul>
              {% if request.user.is_authenticated %}
                <li><a class="disabled">Hello, {{request.user.username}}</a></li>
                <li><a href="/user/dashboard">Dashboard</a></li>
                <li><a href="/logout">Logout</a></li>
              {% else %}
                <li><a href="/survey">Take the survey</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/sign-up">Sign Up</a></li>
              {% endif %}
                <li><a href="/learn/home">Learn Home</a></li>
            </ul>
            <div id="menu-btn vertical-center"></div>
        </div>
        
</body>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<!-- block html start -->
{% block html %}{% endblock html%}
<!-- block html end -->

</html>